body{
    background-color: blue;
}
.main{
width: 1200px;
height: 614px;
background-color: #E0F021;
border-radius: 50px;
margin: 0 auto;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
padding: 86px 78px;
box-sizing: border-box;
gap: 70px;
align-content: center;
}
.box{
    background-color: #240404;
    width: 200px;
    height: 200px;
    color: white;
    font-size: 30px;
    align-content: center;
    text-align: center;
    padding: 34px;
    box-sizing: border-box;
}
p{
background-color: #D81414;
width: 133px;
height: 78px;
align-content: center;
text-align: center;
}